<h1>Editar Orçamento</h1>

<%= render 'form' %>

<%= link_to  @budget do %>
	Exibir <i class='fa fa-plus'></i>
<% end %>
<%= link_to budgets_path do %>
	Voltar <i class="fa fa-arrow-left"></i>
<% end %>
