<h1>Editar SubConta</h1>

<%= render 'form' %>

<%= link_to @sub_account do %>
	Exibir <i class="fa fa-plus"></i>
<% end %>
|
<%= link_to sub_accounts_path do %>
	Voltar <i class="fa fa-arrow-left"></i>
<% end %>

